<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194188710532-rpcd3rtugrhc8j5dmuseptsmtnbipus6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194188710532-rpcd3rtugrhc8j5dmuseptsmtnbipus6</string>
	<key>API_KEY</key>
	<string>AIzaSyAcx3H9k8Pwe3janMbNvUSkC-eajIpDEf4</string>
	<key>GCM_SENDER_ID</key>
	<string>194188710532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>studentmanage-3beb6</string>
	<key>STORAGE_BUCKET</key>
	<string>studentmanage-3beb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194188710532:ios:447ff909441f5ffafae8d1</string>
</dict>
</plist>